form {
    &.register {
        .form-row {
            flex: 100%;
            position: relative;
            label {
                color: color("white-1");
            }
            .form-control {
                background-color: color("gray-2");
                color: color("white-1");
                font-size: $font-size-xs;
                border: solid 1px color("gray-2");
                @include placeholder {
                    color: color("white-1");
                }
            }
            &.social-address {
                position: relative;
                label {
                    position: absolute;
                    margin: 0 0 0 10px;
                    color: color("white-1");
                    transform: translateY(-50%);
                    top: 50%;
                }
                .form-control {
                    padding-left: 30px;
                }
            }
        }
    }
    &.login {
        label {
            color: color("white-1");
            &.form-check-label {
                font-size: $font-size-xs;
            }
        }
        .form-group {
            margin: 0;
            .form-control {
                background-color: transparent;
                color: color("white-1");
                font-size: $font-size-xs;
                border-radius: 0;
                border: 0;
                border-bottom: solid 1px color("yellow-4");
                @include placeholder {
                    color: color("yellow-4");
                    font-style: italic;
                }
            }
        }
    }
    &.news-form {
        padding: 5px;
        >div {
            position: relative;
            label {
                position: absolute;
                margin: 0 10px 0 0;
                color: color("gray-4");
                transform: translateY(-50%);
                top: 50%;
                right: 0
            }
            .form-control {
                background-color: color("gray-2");
                color: color("gray-4");
                font-size: $font-size-xs;
                padding-right: 25px;
                border: solid 1px color("gray-2");
                @include placeholder {
                    color: color("gray-4");
                }
            }
            a {
                @extend .form-control;
                color: color("white-1");
                width: fit-content;
                svg {
                    color: color("yellow-5");
                    margin-bottom: 3px;
                    margin-left: 5px;
                }
            }
        }
    }
    p {
        margin: 0;
        font-size: $font-size-xs;
    }
    .button-secondary {
        @include button-secondary;
    }
    .social-connect {
        flex: 1;
        display: flex;
        gap: 6px;
        align-items: center;
        .button-social {
            @include button-social;
        }
    }
}
