.bg {
    background: url("../../images/xinfinit.png");
    font-family: $font-family;
    .form-layout {
        // border-radius: 10px;
        // background-image: linear-gradient(rgba(color("gray-2"), 0.7), rgba(color("gray-1"), 0.2));
    }
}
header {
    nav {
        background-image: linear-gradient(color("gray-1") 10.2%, color("gray-2") 100%);
        p {
            margin: 0;
        }
        .button-wrap {
            display: flex;
            gap: 10px;
            a {
                color: color("white-1");
                &:hover {
                    svg {
                        color: color("yellow-3");
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(lg){
    .bg {
        .form-layout {
            border-radius: 10px;
            background-image: linear-gradient(rgba(color("gray-2"), 0.7), rgba(color("gray-1"), 0.2));
            .left-wrap {
                padding: 0 65px;
                align-self: center;
            }
        }
    }
}
