/*colors*/
$yellow-1: #F8A327;
$yellow-2: #F9A21A;

$white-1: #fff;
$white-2: #FDFEFE;


$bg-colors: (
    gray-1: #0C131D,
    gray-2: #1B2B3B,
);

$social-colors: (
    google: #DB4437,
    facebook: #3B5999,
    tweeter: #55ACEE,
    linkedin: #007bb6,
    github: #fafafa,
    microsoft: #0551a4,
);
